	@media screen and (max-width: 965px) {
		.logo-nav{
			margin-left: 5%;
			margin-right: 5%;
			width: 95%;
		}
		.div-size-nav{
			width: 95%;
		}
		
		/*navigation*/
		.main-nav
		{
			height: 100%;
			width: 95%;

		}
		.logo{
			float: right;
			visability: hidden;
			display: none;
			width:0;
			height:0;
			flex: 0;
		}
		.div-size-logo{
			flex: 0;
		}

		/*text-hello*/
		.header {
			height: 409px;
			
		}
		.text-hello-div{
			width: 90%;
			height: 260px;
		}
		.text-hello-div p{
			font-size: 2.8rem;
		}
		/*search*/
		.hello-search-container{
			width: 90%;
		}
		
		/*main-block*/
		.car-icons{
			width: 150px;
			height: 150px;
		}
		.info{
			/*flex-direction: column;*/
			width: 90%;
		}
		.main-text{
			width: 90%;
		}
		.footer {
			width: 90%;
		}
		.bottom-nav{
			width: 90%;
		}
	}
	@media screen and (max-width: 767px) {
		.header {
			height: 300px; 
		}
		.header .hello-text {
			font-size: 2.1rem; 
		}

		.text-hello-div{
			height: 151px; 
		}
		
	}
	
	@media screen and (max-width: 810px) {
		.hide-search{
			visability: hidden;
			display: none;
		}
	}
	
	@media screen and (max-width: 609px) {
		.div-size-nav{
			width:100%;
		}
		.main-nav{
			border-radius: 20px;
		}
		.main-nav li{
			float: none;
			width: 100%;
			position: static;
		}
		.main-nav li a {
			border-right: 0px solid #ccc;
		}
		.header {
			
			height: 567px;
		}
		.text-hello-div
		{
			visability: hidden;
			display: none;
			
		}
		.container{
			flex-direction: column;
		}
		.copyright{
			display: flex;
			font-size: 15px;
		}
		
		.search-panel{
			height: 155px;
		}
		.input{
			display: block;
			margin: 0 auto 5px auto;
		}
		.input-time{
			width: 205px;
			font-size: 14px;
		}
		.input-submit{
			width: 210px;
			font-size: 14px;
		}
		.input-search{
			font-size: 14px;
			width: 210px;
		}
		.bottom-nav{
			text-align: center;
		}
		.bottom-nav-border{
			border-right: 0px solid #ccc;
			border-bottom: 1px solid #ccc;
			margin-left: 0px;
		}
		.bottom-info{
			margin-left: 0;
		}
	}
	