body{
	font-family: Arial, sansp-serif;
	padding: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

header {
	background: url(../img/header2.jpg) no-repeat center top / cover;
	height: 580px;
	width: 100%;
}

div {
	box-sizing: border-box;
}

h3{
	color: DarkRed;
	color: #c00;
}

footer{
	margin-bottom:10px;
}

.div-size-1{
	flex: 1;
}
.div-size-2{
	flex: 2;
}
.div-size-5{
	flex: 5;
}
.div-size-logo{
	flex: 1;
}
.div-size-nav{
	flex: 5;
}

.container{
	width: 950px;
	margin: 0 auto;
	display: flex;
}

.border-for-all{
	border-left: 3px solid #f2f2f2;
	border-right: 3px solid #f2f2f2;
}
.text-on-black
{
	color: white;
}
.logo-nav{
	padding-top: 10px;
}
.nav-elements:
{
	margin: 10px;
}
.logo{
	padding: 0px;
	margin: 0px;
	margin-right: 5px;
	width: 95%;
	height: 100%;
	/*width: 140px;
	height: 70px;*/
	border-radius: 0 20px;
	/*float: left;*/
	opacity: 0.9;
}

.car-icons{
	width: 250px;
	height: 250px;
}

.info{
	font-size: 15px;
	text-align: center;
	padding-top: 10px;
	color: #069;
}

.hello-search-container{
	height: 501px; 
	flex-direction: column;
}

.text-hello-div{
	height: 432px;
	background: #black;
	text-align: center;
	line-height: 2em;
	color: #FFFFFF;
	font-weight: bold
}
.text-hello-div p{
	vertical-align: middle;
	display: inline-block;
	/*margin-top: 200px;*/
	font-family: Arial, sans-serif;
	line-height: 1em;
	font-size: 50px;
	text-shadow:0px 0px 0 rgb(145,145,145),1px 0px 0 rgb(121,121,121),2px 0px 0 rgb(96,96,96),3px 0px 0 rgb(71,71,71),4px 0px 0 rgb(47,47,47),5px 0px 0 rgb(22,22,22), 6px 0px 0 rgb(-3,-3,-3),7px 0px 6px rgba(0,0,0,0.15),7px 0px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
	}
	

.search-panel{
	background:#f2f2f2;
	display: inline-block;
	height: 50px;
	margin-top: 10px;
	opacity: 0.9;
	border-radius: 20px 20px 0 0;
}
.search-panel p{
	text-align: center;
	color: #069;
	font-size: 12px;
}

.main-nav {
	width: 100%;
	height: 100%;
    /*float: left;*/
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	opacity: 0.9;
	border-radius: 20px;
}

.main-nav li {
	float: right;
}
.main-nav li a {
	display: block;
	padding: 30px 20px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc;
	border-radius: 20px;
}
.main-nav li a:hover {
	opacity: 1;
	color: #c00;
    background-color: #fff; 
}

.input{
   border: 1px solid #cccccc;
   border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   outline: none;  
   font-size: 11px; 
   font-family: Tahoma; 
   text-align:center;
}
.input-search{
	height: 30px; 
	width: 160px;
}
.input-time{
	height: 30px; 
	width: 60px;
}
.input-submit{
	height: 30px; 
	width: 60px;
	color: #069;
}
.input-submit:hover {
	opacity: 1;
	color: #c00;
    background-color: #fff; 
}

.bottom-nav
{
	padding: 2rem 0;
	
	color: black;
	
	background: rgb(226,234,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(226,234,234,1) 0%, rgba(218,226,230,1) 50%, rgba(214,223,228,1) 51%, rgba(184,190,196,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(226,234,234,1) 0%,rgba(218,226,230,1) 50%,rgba(214,223,228,1) 51%,rgba(184,190,196,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(226,234,234,1) 0%,rgba(218,226,230,1) 50%,rgba(214,223,228,1) 51%,rgba(184,190,196,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2eaea', endColorstr='#b8bec4',GradientType=0 ); /* IE6-9 */

}
.bottom-nav-border{
	border-right: 1px solid #ccc;
	margin-left: 15px;
}
.bottom-info{
	margin-left: 15px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  
.flex-column {
  flex-direction: column !important; }
  
.nav-link{
	color:black;
}
.nav-link {
  text-decoration: none;
  display: block;
  padding: 0.5rem 0rem; }
  .nav-link:hover {
	color: #c00;	
    text-decoration: none; }
  .nav-link.disabled {
    color: red; }

.div_margin{
	margin-left: 15px;
}

.main-text{
	color: #262222;
}

.footer{
	background: rgb(53,106,160); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(53,106,160,1) 0%, rgba(53,106,160,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(53,106,160,1) 0%,rgba(53,106,160,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#356aa0',GradientType=0 ); /* IE6-9 */
	color: white;
	border-radius: 0 0 20px 20px;
}

.copyright{
	/*width: 950px;
	display: flex;*/
	margin: 0 auto;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	
}